nav{
    text-align: center;
    font-weight:bold;
}
body{
    background: url(bp.png) no-repeat;
    background-size: 1080px 1920px;
    background-position: center;
    background-attachment: fixed;
    font-family: Verdana, Tahoma, sans-serif;
}
.biodata{
    width: 400px;
    height: 734px;
    background: rgba(121, 120, 120, 0.733);
    color: rgb(0, 0, 0);
    top: 60%;
    left: 50%;
    position: absolute;
    padding: 30px;
    transform: translate(-50%, -50%);
    font-size: 10pt;
    text-align: left;
}
.foo{
    text-align: center;
    font-size: 15pt;
}
.next{
    text-align: center;
}
.account{
    width: 400px;
    height: 200px;
    background: rgb(155, 153, 154);
    color: rgb(0, 0, 0);
    top: 135%;
    left: 50%;
    position: absolute;
    padding: 30px;
    transform: translate(-50%, -50%);
    font-size: 10pt;
    text-align: left;
}
.submit{
    text-align: center;
}
.footer{
    width: 400px;
    height: 200px;
    background: rgba(116, 113, 114, 0.733);
    color: rgb(0, 0, 0);
    top: 163.3%;
    left: 50%;
    position: absolute;
    box-sizing: border-box;
    padding: 30px;
    transform: translate(-50%, -50%);
    font-size: 10pt;
    text-align: center;
}
#message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}
  
#message p {
    padding: 10px 35px;
    font-size: 18px;
}
.valid {
    color: green;
}
  
.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}
.invalid {
    color: red;
}
  
.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}